<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <img src="images/wall.jpg" alt="Header Image">
      <br>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
      <br>
      <a href="#features" style="color:white;">Features</a>
      <span style="margin-left:20px;">
      <a href="#about" style="color: white;">About</a>
    </header>

    <main id="content" class="main-content" role="main">
	    <h2> What is maze?</h2>
	    <p> Maze is a 3D game where you try to find your way out while facing and killing enemies in a joyful and exciting adventure.</p>
	    <br>
	    <h2 id="features">Features:</h2>
	    <p>1. Choose from multiple weapons<p>
	    <div style="display: flex;"><img src="screenshots/wep1.png" width="500" height="400"> <span style="margin-right: 15px;"></span> <img src="screenshots/wep2.png" width="500" height="400"></div>
	    <br>
	    <p>2. Stop/start rain with one botton<p>
	    <div style="display: flex;"><img src="screenshots/r1.png" width="500" height="400"> <span style="margin-right: 15px;"></span> <img src="screenshots/r2.png" width="500" height="400"></div>
	    <br>
	    <p>3. enjoy high quality graphics<p>
	    <img src="screenshots/w.png">
	    <br>
	    <h2 id="about">About:</h3>
	    <p>  Since I was a child I admired video games, from snake on nokia phones to atari games to today's ps5 modern games, I was facinated by all of these games and I wanted to know how these great things were made, untill <a href="https://www.holbertonschool.com/">Holberton School</a> and <a href="https://www.alxafrica.com/">Alxafrica</a> gave me the opportunity to make a game of my own as my portfolio project, wich I am very thankful for.</p>
	    <br>
	    <div><a href="https://www.linkedin.com/in/abobaker-eltom-3a1a90147?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BBMDkWhMPTSqNwsNbvQExOg%3D%3D">Linkedin</a>
		 <a href="https://gihub.com/bakka22">        |       Github</a>
		 <a href="https://twitter.com/maja_maleek?t=byhQFqPTXJLaFxdPOg5IXQ&s=09">       |       X</a>
	    </div>
	    <p>project on<a href="https://github.com/bakka22/maze"> Github</a></p>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
